<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/product-form.css">
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

      <main>

        <form class="form" action="/admin/add-product" method="POST">
          <div class="form__wrapper">
            <label for="title" class="form__label">Title</label>
            <input type="text" name="title" id="title" class="form__input">
          </div>
          <div class="form__wrapper">
            <label for="imgURL" class="form__label">Img URL</label>
            <input type="text" name="imgURL" id="imgURL" class="form__input">
          </div>
          <div class="form__wrapper">
            <label for="price" class="form__label">Price</label>
            <input type="number" name="price" id="price" class="form__input" step="0.01">
          </div>
          <div class="form__wrapper">
            <label for="description" class="form__label">Description</label>
            <textarea name="description" id="description" rows="5" class="form__textarea"></textarea>
          </div>

          <button type="submit" class="btn">Add Product</button>
        </form>

      </main>

      <%- include('../partials/bottom.ejs') %>