extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product-form.css")

block content
    main
      form.form(action="/admin/add-product" method="POST")
        .form__wrapper
          label.form__label(for="title") Title
          input.form__input(type="text" name="title" id="title")
        button.btn(type="submit") Add Product

