<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/product-form.css">
</head>

<body>
  <header class="header">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/" class="link">Shop</a></li>
        <li class="nav__item"><a href="/admin/add-product" class="link active">Add Product</a></li>
      </ul>
    </nav>
  </header>

  <main>

    <form class="form" action="/admin/add-product" method="POST">
      <div class="form__wrapper">
        <label for="title" class="form__label">Title</label>
        <input type="text" name="title" id="title" class="form__input">
      </div>

      <button type="submit" class="form__btn">Add Product</button>
    </form>

  </main>

</body>

</html>
