<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/products.css">

</head>

<body>
  <header class="header">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/" class="link active">Shop</a></li>
        <li class="nav__item"><a href="/admin/add-product" class="link">Add Product</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="products">
      <h1 class="products__title"></h1>
      <p class="products__list"></p>
    </section>
  </main>
</body>

</html>
