.form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form__wrapper {
  margin: 1rem 0;
}

.form__label,
.form__input {
  display: block;
  width: 100%;
}

.form__input {
  border: 1px solid rgb(251, 109, 58);
  font: inherit;
  border-radius: 2px;
}
